.header-bar {
    padding: 10px;
    width: 100%;
    background-color: #fcc133;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.header-bar h2 {
    font-family: 'BioRhyme';
    font-weight: 800;
    font-size: 22px;
    padding-top: 0 px;
    padding-left: 30px;
}

.header-bar a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

  @media screen and (max-width: 550px){
    .header-left h2 {
        font-size: 16px;
    }

  }