.box{
	height: 10px;
	width: 300px;
	background-color: transparent;
	display: none;
}
 
#hideButton,
#hideButton2{
    font-family: 'Rubik';
    font-size: 24px;
	color: #c7ea46;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 16px;
    cursor: pointer;
    margin-left: -17px;
    text-decoration: none;
}

#hideButton:hover, #hidebutton2:hover {
    color: whitesmoke;
}

#hideButton:active, #hidebutton2:active {
    color: whitesmoke;
}

@media screen and (max-width: 550px){

    .box {
        width: 100%;
    }

    #hideButton,
    #hideButton2{
        font-size: 18px;
        margin-left: -10px;
        text-align: left;
    }
}

@media screen and (max-width: 1000px){
    #hideButton,
    #hideButton2{
        text-align: left;
    }
}