@import url('https://fonts.googleapis.com/css2?family=BioRhyme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: url('../18880.jpg') no-repeat center fixed;     
    background-size: cover;
}

.pict-area {
    padding: 20px 30px;
}

.pict-area h1 {
    font-family: 'Rubik';
    font-size: 64px;
    color: #c7ea46;
    padding-bottom: 20px;
    text-shadow: 2px 2px black;
}

.pict-area h2 {
    font-size: 48px;
    color: whitesmoke;
    text-shadow: 2px 2px black;
    padding-bottom: 5px;
}

.pict-area p {
    font-size: 28px;
    color: whitesmoke;
    text-shadow: 2px 2px black;
}

#catRow li {
    list-style: none;
    display: inline-block;
    padding-right: 8px;
}

footer{
    margin-top: 60px;
    margin-bottom: 15px;
    background-color: transparent;
    padding-left: 30px;
    padding-bottom: 0px;
    padding-top: 0px;
    color: whitesmoke;
    font-family: 'Rubik';
}

footer p {
    font-size: 10px;
}


@media screen and (max-width: 550px){

    .pict-area h1 {
        font-size: 40px;
    }

    .pict-area h2 {
        font-size: 22px;
    }

    .pict-area p {
        font-size: 18px;
        font-style: italic;
    }

    #catRow li {
        padding-right: 2px;
    }
}